[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/charged/Desktop/brave-aflpihfcggedhikldddfkjifojmofbee-Default.desktop]
row=5
col=0

[/home/charged/Desktop/brave-lmnchbakjbeoekoggbcmegfainnmokbm-Default.desktop]
row=8
col=0

[/home/charged/Desktop/Brawlhalla.desktop]
row=2
col=0

[/home/charged/Desktop/steam.desktop]
row=7
col=0

[64B7639F0539AA56]
row=0
col=0

[0B56FC2A414E6BF8]
row=1
col=0

[Trash]
row=6
col=0

[/]
row=0
col=1

[/home/charged]
row=4
col=0

