<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
    <menu id="root-menu" label="OpenBox 3">
        <menu id="1" label="Development">
            <item label="CMake"> <action name="Execute">
                <execute>cmake-gui</execute>
            </action> </item>
            <item label="CMake curses GUI (ccmake)"> <action name="Execute">
                <execute>st -e ccmake</execute>
            </action> </item>
            <item label="Doxywizard"> <action name="Execute">
                <execute>doxywizard</execute>
            </action> </item>
            <item label="Electron"> <action name="Execute">
                <execute>electron</execute>
            </action> </item>
            <item label="Icon Browser"> <action name="Execute">
                <execute>yad-icon-browser</execute>
            </action> </item>
            <item label="IDLE (Python IDE)"> <action name="Execute">
                <execute>idle</execute>
            </action> </item>
            <item label="Python"> <action name="Execute">
                <execute>st -e python</execute>
            </action> </item>
            <item label="Qt Assistant"> <action name="Execute">
                <execute>assistant</execute>
            </action> </item>
            <item label="Qt Designer"> <action name="Execute">
                <execute>designer</execute>
            </action> </item>
            <item label="Qt Linguist"> <action name="Execute">
                <execute>linguist</execute>
            </action> </item>
            <item label="Qt QDBusViewer"> <action name="Execute">
                <execute>qdbusviewer</execute>
            </action> </item>
            <item label="Tclsh8.6"> <action name="Execute">
                <execute>st -e tclsh8.6</execute>
            </action> </item>
        </menu>
        <menu id="2" label="Editors">
            <item label="AA Fire"> <action name="Execute">
                <execute>st -e aafire -driver slang</execute>
            </action> </item>
            <item label="Emacs"> <action name="Execute">
                <execute>st -e emacs</execute>
            </action> </item>
            <item label="Nano"> <action name="Execute">
                <execute>st -e nano</execute>
            </action> </item>
            <item label="Neovide (nvim)"> <action name="Execute">
                <execute>neovide</execute>
            </action> </item>
            <item label="Neovim"> <action name="Execute">
                <execute>st -e nvim</execute>
            </action> </item>
            <item label="Vim"> <action name="Execute">
                <execute>st -e vim</execute>
            </action> </item>
        </menu>
        <menu id="18" label="Games">
            <menu id="9" label="Adventure">
                <item label="Sclient"> <action name="Execute">
                    <execute>sclient</execute>
                </action> </item>
            </menu>
            <menu id="10" label="Arcade">
                <item label="PacMan"> <action name="Execute">
                    <execute>pacman</execute>
                </action> </item>
            </menu>
            <menu id="14" label="Simulation">
                <item label="Minetest"> <action name="Execute">
                    <execute>minetest</execute>
                </action> </item>
            </menu>
            <menu id="16" label="Strategy">
                <item label="0 A.D."> <action name="Execute">
                    <execute>0ad</execute>
                </action> </item>
            </menu>
            <item label="Heroic Games Launcher"> <action name="Execute">
                <execute>heroic</execute>
            </action> </item>
        </menu>
        <menu id="6" label="Graphics">
            <item label="Ristretto Image Viewer"> <action name="Execute">
                <execute>ristretto</execute>
            </action> </item>
        </menu>
        <menu id="7" label="Multimedia">
            <item label="ALSA mixer"> <action name="Execute">
                <execute>st -e alsamixer</execute>
            </action> </item>
            <item label="Kdenlive"> <action name="Execute">
                <execute>kdenlive</execute>
            </action> </item>
            <item label="OBS Studio"> <action name="Execute">
                <execute>obs</execute>
            </action> </item>
            <item label="PulseAudio Volume Control"> <action name="Execute">
                <execute>pavucontrol</execute>
            </action> </item>
            <item label="Qt V4L2 test Utility"> <action name="Execute">
                <execute>qv4l2</execute>
            </action> </item>
            <item label="Qt V4L2 video capture utility"> <action name="Execute">
                <execute>qvidcap</execute>
            </action> </item>
            <item label="Spotify"> <action name="Execute">
                <execute>spotify</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>vlc</execute>
            </action> </item>
            <item label="VLC media player"> <action name="Execute">
                <execute>qvlc</execute>
            </action> </item>
            <item label="Volume Icon"> <action name="Execute">
                <execute>volumeicon</execute>
            </action> </item>
        </menu>
        <menu id="5" label="Network">
            <item label="Amfora"> <action name="Execute">
                <execute>st -e amfora</execute>
            </action> </item>
            <item label="Avahi SSH Server Browser"> <action name="Execute">
                <execute>bssh</execute>
            </action> </item>
            <item label="Avahi VNC Server Browser"> <action name="Execute">
                <execute>bvnc</execute>
            </action> </item>
            <item label="Brave"> <action name="Execute">
                <execute>brave</execute>
            </action> </item>
            <item label="Discord"> <action name="Execute">
                <execute>discord</execute>
            </action> </item>
            <item label="Element"> <action name="Execute">
                <execute>element-desktop</execute>
            </action> </item>
            <item label="Irssi"> <action name="Execute">
                <execute>st -e irssi</execute>
            </action> </item>
            <item label="Lagrange"> <action name="Execute">
                <execute>lagrange</execute>
            </action> </item>
            <item label="LBRY"> <action name="Execute">
                <execute>lbry</execute>
            </action> </item>
            <item label="LibreWolf"> <action name="Execute">
                <execute>/usr/lib/librewolf/librewolf</execute>
            </action> </item>
            <item label="nheko"> <action name="Execute">
                <execute>nheko</execute>
            </action> </item>
            <item label="Nyxt"> <action name="Execute">
                <execute>nyxt</execute>
            </action> </item>
            <item label="qutebrowser"> <action name="Execute">
                <execute>qutebrowser</execute>
            </action> </item>
            <item label="TkVNC"> <action name="Execute">
                <execute>xterm -e tkvnc</execute>
            </action> </item>
            <item label="WeeChat"> <action name="Execute">
                <execute>st -e weechat</execute>
            </action> </item>
        </menu>
        <menu id="3" label="Office">
            <item label="PostgreSQL Database"> <action name="Execute">
                <execute>st -e psql template1</execute>
            </action> </item>
        </menu>
        <menu id="4" label="Science">
            <item label="bc"> <action name="Execute">
                <execute>st -e bc</execute>
            </action> </item>
            <item label="dc"> <action name="Execute">
                <execute>st -e dc</execute>
            </action> </item>
        </menu>
        <menu id="19" label="Shells">
            <item label="Alacritty"> <action name="Execute">
                <execute>alacritty</execute>
            </action> </item>
            <item label="Cool Retro Term"> <action name="Execute">
                <execute>cool-retro-term</execute>
            </action> </item>
            <item label="File Manager PCManFM"> <action name="Execute">
                <execute>pcmanfm</execute>
            </action> </item>
            <item label="GIT"> <action name="Execute">
                <execute>st -e git</execute>
            </action> </item>
            <item label="kitty"> <action name="Execute">
                <execute>kitty</execute>
            </action> </item>
            <item label="MC"> <action name="Execute">
                <execute>st -e mc</execute>
            </action> </item>
            <item label="ST"> <action name="Execute">
                <execute>st</execute>
            </action> </item>
            <item label="Termite"> <action name="Execute">
                <execute>termite</execute>
            </action> </item>
            <item label="urxvt"> <action name="Execute">
                <execute>urxvt</execute>
            </action> </item>
            <item label="urxvt (client)"> <action name="Execute">
                <execute>urxvtc</execute>
            </action> </item>
            <item label="urxvt (tabbed)"> <action name="Execute">
                <execute>urxvt-tabbed</execute>
            </action> </item>
            <item label="UXTerm"> <action name="Execute">
                <execute>uxterm</execute>
            </action> </item>
            <item label="Xterm"> <action name="Execute">
                <execute>xterm</execute>
            </action> </item>
        </menu>
        <menu id="37" label="System">
            <menu id="36" label="Settings">
                <menu id="21" label="GNOME">
                    <item label="Advanced Network Configuration"> <action name="Execute">
                        <execute>nm-connection-editor</execute>
                    </action> </item>
                    <item label="Arch Linux Tweak Tool"> <action name="Execute">
                        <execute>archlinux-tweak-tool</execute>
                    </action> </item>
                    <item label="ArchLinux Betterlockscreen"> <action name="Execute">
                        <execute>archlinux-betterlockscreen</execute>
                    </action> </item>
                    <item label="Privilege granting"> <action name="Execute">
                        <execute>gksu-properties</execute>
                    </action> </item>
                </menu>
                <item label="AppImageLauncher Settings"> <action name="Execute">
                    <execute>AppImageLauncherSettings</execute>
                </action> </item>
                <item label="ARandR"> <action name="Execute">
                    <execute>arandr</execute>
                </action> </item>
                <item label="ArcoLinux Welcome"> <action name="Execute">
                    <execute>arcolinux-welcome-app</execute>
                </action> </item>
                <item label="Clipboard Manager Settings"> <action name="Execute">
                    <execute>xfce4-clipman-settings</execute>
                </action> </item>
                <item label="Customize Look and Feel"> <action name="Execute">
                    <execute>lxappearance</execute>
                </action> </item>
                <item label="Default applications for LXSession"> <action name="Execute">
                    <execute>lxsession-default-apps</execute>
                </action> </item>
                <item label="Desktop Preferences"> <action name="Execute">
                    <execute>pcmanfm --desktop-pref</execute>
                </action> </item>
                <item label="Desktop Session Settings"> <action name="Execute">
                    <execute>lxsession-edit</execute>
                </action> </item>
                <item label="Manage Printing"> <action name="Execute">
                    <execute>xdg-open http://localhost:631/</execute>
                </action> </item>
                <item label="nitrogen"> <action name="Execute">
                    <execute>nitrogen</execute>
                </action> </item>
                <item label="NVIDIA X Server Settings"> <action name="Execute">
                    <execute>nvidia-settings</execute>
                </action> </item>
                <item label="Openbox Configuration Manager"> <action name="Execute">
                    <execute>obconf</execute>
                </action> </item>
                <item label="Panel"> <action name="Execute">
                    <execute>xfce4-panel --preferences</execute>
                </action> </item>
                <item label="Preferred Applications"> <action name="Execute">
                    <execute>libfm-pref-apps</execute>
                </action> </item>
                <item label="Print Settings"> <action name="Execute">
                    <execute>system-config-printer</execute>
                </action> </item>
                <item label="Qt5 Settings"> <action name="Execute">
                    <execute>qt5ct</execute>
                </action> </item>
                <item label="Tint2 Settings"> <action name="Execute">
                    <execute>tint2conf</execute>
                </action> </item>
                <item label="YAD settings"> <action name="Execute">
                    <execute>yad-settings</execute>
                </action> </item>
            </menu>
            <item label="Avahi Zeroconf Browser"> <action name="Execute">
                <execute>avahi-discover</execute>
            </action> </item>
            <item label="btop++"> <action name="Execute">
                <execute>st -e btop</execute>
            </action> </item>
            <item label="CPU-X"> <action name="Execute">
                <execute>cpu-x</execute>
            </action> </item>
            <item label="fish"> <action name="Execute">
                <execute>st -e fish</execute>
            </action> </item>
            <item label="GDM Setup"> <action name="Execute">
                <execute>gksu gdmsetup</execute>
            </action> </item>
            <item label="GParted"> <action name="Execute">
                <execute>gparted</execute>
            </action> </item>
            <item label="Hardware Locality lstopo"> <action name="Execute">
                <execute>lstopo</execute>
            </action> </item>
            <item label="HPLIP File printing"> <action name="Execute">
                <execute>hp-print</execute>
            </action> </item>
            <item label="Htop"> <action name="Execute">
                <execute>st -e htop</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>st -e pstree.x11</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>st -e pstree</execute>
            </action> </item>
            <item label="pstree"> <action name="Execute">
                <execute>xterm -e /usr/bin/pstree.x11</execute>
            </action> </item>
            <item label="Software Token"> <action name="Execute">
                <execute>stoken-gui</execute>
            </action> </item>
            <item label="Software Token (small)"> <action name="Execute">
                <execute>stoken-gui --small</execute>
            </action> </item>
            <item label="Tint2"> <action name="Execute">
                <execute>tint2</execute>
            </action> </item>
            <item label="Top"> <action name="Execute">
                <execute>st -e top</execute>
            </action> </item>
            <item label="Virtual Machine Manager"> <action name="Execute">
                <execute>virt-manager</execute>
            </action> </item>
            <item label="Xkill"> <action name="Execute">
                <execute>xkill</execute>
            </action> </item>
            <item label="Xrefresh"> <action name="Execute">
                <execute>xrefresh</execute>
            </action> </item>
        </menu>
        <menu id="38" label="Utilities">
            <item label="About Xfce"> <action name="Execute">
                <execute>xfce4-about</execute>
            </action> </item>
            <item label="Ark"> <action name="Execute">
                <execute>ark</execute>
            </action> </item>
            <item label="balenaEtcher"> <action name="Execute">
                <execute>/opt/balenaEtcher/balena-etcher-electron</execute>
            </action> </item>
            <item label="Clipboard Manager"> <action name="Execute">
                <execute>xfce4-clipman</execute>
            </action> </item>
            <item label="HP Device Manager"> <action name="Execute">
                <execute>hp-toolbox</execute>
            </action> </item>
            <item label="Info"> <action name="Execute">
                <execute>st -e info</execute>
            </action> </item>
            <item label="picom"> <action name="Execute">
                <execute>picom</execute>
            </action> </item>
            <item label="Screenkey"> <action name="Execute">
                <execute>screenkey</execute>
            </action> </item>
            <item label="Spectacle"> <action name="Execute">
                <execute>spectacle</execute>
            </action> </item>
            <item label="Xev"> <action name="Execute">
                <execute>st -e xev</execute>
            </action> </item>
            <item label="Xsetroot"> <action name="Execute">
                <execute>xsetroot</execute>
            </action> </item>
        </menu>
        <separator/>
        <menu id="40" label="OpenBox">
            <menu id="client-list-menu"/>
            <item label="Reconfigure"> <action name="Reconfigure"/> </item>
            <separator/>
            <item label="Exit"> <action name="Exit"/> </item>
        </menu>
    </menu>
</openbox_menu>
